#logo {
	max-width: 480px;
	height: auto;
	padding: 10px;
}

#menubar {
	max-width: 640px;
	border: 0;
	padding: 10px;
}

#main_frame {
	width: auto;
	height: 820px;
	border: 0;
}

#socialmediabar {
	width: 320px;
	padding: 10px 25px;
	margin-left: auto;
}
