* {
    font-family : "Unispace";
    color : "#"
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ffffff;
}

table {
    background-color: #030303;
}
